.cover__background {
  width: 100%;
  height: calc(0.625 * 100vw);
  max-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-image: url(../../../images/cover__background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
