.lead__caption {
    
    margin-top: 8px;
    font-size: 10px;
    line-height: 140%;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    align-self: flex-start;
  
  }