.root {
  font-family: 'inter', Arial, sans-serif;
  font-style: normal;
  background-color: #2A2C2F;
  color: #FFFFFF;
}

.page {
  margin: auto;
  max-width: 1280px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0;
  /* выше установили ограничения для секции */
}

.header__logo {
  width: 176px;
  height: 52px;

}

.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  transition: opacity 0.25s;
  margin: 0;
  margin-left: 19px;
  text-decoration: none;
  color: #FFFFFF;
  
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-links {
  display: flex;
  margin: 18px 0 0;
  padding: 0;
  
}

.header__lang-link_active {
  text-decoration: underline;
}

.content {

}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 148px 0;
}

.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 104%;
  font-weight: 900;
  text-align: center;
  margin: 0;

}

.lead__subtitle {
  font-size: 30px;
  line-height: 120%;
  font-weight: normal;
  text-align: center;
  max-width: 640px;
  min-height: 72px;
  margin: 32px auto 0;


}

.lead__image {
  width: 984px;
  height: 615px;
  margin: 64px auto 0;
  position: relative;
  object-fit: contain;


}

.lead__caption {
  margin-top: 8px;
  font-size: 10px;
  line-height: 140%;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  align-self: flex-start;

}

.intro {
  padding: 92px 148px 0;
}

.intro__title {
  max-width: 690px;
  font-size: 54px;
  line-height: 107%;
  font-weight: 900;
  text-align: start;
  margin: 0;

}

.intro__text {
  max-width: 690px;
  font-size: 16px;
  line-height: 162%;
  font-weight: normal;
  text-align: start;
  margin: 40px 0 0;
}

.intro__list {
  max-width: 690px;
  margin: 32px 0 0;
  list-style: none;
  padding: 0;
}

.intro__list-item {
  font-size: 12px;
  line-height: 150%;
  font-weight: bold;
  text-align: start;
}

.intro__list-num {
  font-weight: normal;
}

.photo-grid {
display: grid;
grid-template-columns: repeat(4, auto);
grid-template-rows: repeat(3, auto);
grid-gap: 16px;
padding: 92px 48px 0;
}

.photo-grid-image {
  width: 100%;

}

.places {
  max-width: 984px;
  padding: 6px 148px 0;
  margin: 0;
}

.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  row-gap: 48px;
  column-gap: 40px;
  padding-top: 92px;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  max-width: 460px;
  margin: 0;
  align-self: end;

}

.place__image {
  width: 100%;
}

.place__url-heading {
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0 0 12px;
}

.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
}

.place__web {
  align-self: end;
}

.place_paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 167%;
  margin: 0 0 24px;
}

.cover {
  width: 1184px;
  margin: 92px auto 0;
  padding: 0;
}


.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, 0.3);
  display: flex;
  flex-direction: column;
  text-decoration: none;


}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
  transition: background-color .5s linear;
}

.cover__background {
  width: 1184px;
  height: 740px;
  position: relative;
  margin: 0 auto;
  background-image: url(../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  padding: 0;
  margin: 32px auto 0;
  text-align: center;
  color: #FFFFFF;
  
}


.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  padding: 0;
  margin: 245px auto 0;
  text-align: center;
  color: #FFFFFF;
  
}

.footer {
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}

.footer__nav.css {
  
}

.footer__links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__link-item {
  margin-right: 18px;
}

.footer__link {
  color: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity .3s linear;
}

.footer__copyright {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
}